#about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-intro {
  width: 100%;
}

.about-intro > img {
  width: 100%;
}
