#home-sec1 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-sec1-intro {
  width: 100%;
}

.home-sec1-intro > img {
  width: 100%;
}

.home-sec1-intro-btns {
  position: absolute;
  width: 35%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 20%;
  left: 10%;
}

.home-sec1-intro-btns > button {
  width: 48%;
  height: 100%;
  border: none;
  outline: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}

.home-sec1-intro-btns :first-child {
  background-color: #000000;
  color: #ffffff;
}

.home-sec1-intro-btns :last-child {
  background: none;
  border: solid #000000;
  color: #000000;
}

@media (max-width: 950px) {
  .home-sec1-intro-btns > button {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .home-sec1-intro-btns > button {
    font-size: 7px;
  }
}

@media (max-width: 400px) {
  .home-sec1-intro-btns > button {
    font-size: 4px;
  }
}
