#view_order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

#view_order_card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#view_orer_img_card > figure {
  width: 100%;
}

#view_orer_img_card > figure > img {
  width: 100%;
}

#view_order_about_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  font-size: 25px;
}

#btns > button {
  padding: 13px 24px;
  background: none;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 20px;
  border: 1px solid #f44336;
  transition: all 0.3s ease-in-out;
}

#btns > button:hover {
  background: #f44336;
  color: #fff;
}

@media (max-width: 1024px) {
  #view_order_about_card {
    font-size: 18px;
  }

  #btns > button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  #view_order_card {
    gap: 20px;
  }

  #view_order_about_card {
    gap: 20px;
    font-size: 16px;
  }

  #btns > button {
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  #view_orer_img_card > figure {
    width: 80%;
  }

  #view_order_card {
    flex-direction: column;
    gap: 10px;
  }

  #view_order_about_card {
    width: 80%;
    gap: 10px;
    font-size: 16px;
    justify-content: center;
  }

  #btns > button {
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  #view_order {
    padding: 50px 0;
  }

  #view_orer_img_card > figure {
    width: 60%;
  }

  #view_order_card {
    flex-direction: column;
    gap: 10px;
  }

  #view_order_about_card {
    gap: 10px;
    font-size: 14px;
  }

  #btns > button {
    margin-right: 10px;
    font-size: 10px;
  }
}
